#app-manager-window{
	font:message-box;
	background-image:url(chrome://global/skin/gecko.png),url(chrome://global/skin/hout.png);
	background-repeat:no-repeat,repeat;
	background-position:right 90%,left top;
	background-attachment:fixed,fixed;
	color:black}

#connection-footer{
	height:60px;
	min-height:60px}

#toolbox-tabs{overflow-y:auto}

.button{
	width:60px;
	height:90px;
	-moz-box-align:end;
	text-align:center;
	margin:4px;
	border-radius:9px;
	-moz-outline-radius:11px;
	text-shadow:0 1px 1px #EED4A2;
	font-weight:bold;
	color:#893B00;
	image-rendering:optimizeQuality;
	border:1px solid transparent;
	background-color:transparent;
	background-repeat:no-repeat,repeat;
	background-position:center 4px,top left}
.button:not([disabled="true"]):not([selected="true"]):hover{
	box-shadow:0 0 2px #893B00;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	color:black}
.button:not([disabled="true"]):not([selected="true"]):hover:active{
	box-shadow:none;
	border-style:inset;
	color:white}
.button[selected="true"]{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	box-shadow:inset 1px 1px 1px #B26F00}

.button.toolbox{
	height:60px;
	background-repeat:no-repeat;
	background-position:center 4px;
	background-size:32px 32px!important}

.panel:not([selected="true"]){display:none}

.projects-button{background-image:url(chrome://global/skin/icons/webapps-64.png)}
.projects-button:hover{background-image:url(chrome://global/skin/icons/webapps-64.png),url(chrome://global/skin/hout-hover.png)}
.projects-button:hover:active{background-image:url(chrome://global/skin/icons/webapps-64.png),url(chrome://global/skin/hout-active.png)}
.projects-button[selected="true"]{background-image:url(chrome://global/skin/icons/webapps-64.png),url(chrome://global/skin/backarea.png)!important}
.device-button{background-image:url(chrome://global/skin/devtools/app-manager/device2.png)}
.device-button:hover{background-image:url(chrome://global/skin/devtools/app-manager/device2.png),url(chrome://global/skin/hout-hover.png)}
.device-button:hover:active{background-image:url(chrome://global/skin/devtools/app-manager/device2.png),url(chrome://global/skin/hout-active.png)}
.device-button[selected="true"]{background-image:url(chrome://global/skin/devtools/app-manager/device2.png),url(chrome://global/skin/backarea.png)!important}

.help-button{
	height:50px;
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),32,16,48,0);
	background-repeat:no-repeat,repeat;
	background-position:center 8px,top left}
.help-button:not([disabled="true"]):not([selected="true"]):hover{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),32,16,48,0),url(chrome://global/skin/hout-hover.png)}
.help-button:not([disabled="true"]):not([selected="true"]):hover:active{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),32,16,48,0),url(chrome://global/skin/hout-active.png)}
.help-button[selected="true"]{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),32,16,48,0),url(chrome://global/skin/backarea.png)}
