#hc-menu-button{list-style-image:url(chrome://HideCaption/skin/MenuBtn.png)}
toolbar[iconsize="small"] #hc-menu-button,
toolbar[defaulticonsize="small"] #hc-menu-button{
	list-style-image:url(chrome://HideCaption/skin/MenuBtnS.png)}

#hc-LogoBtn{list-style-image:url(chrome://HideCaption/skin/Icon16.png)}

#hc-minimize-button,#hc-maximize-button,#hc-close-button{
	list-style-image:url(chrome://global/skin/global.png)}
#hc-minimize-button{-moz-image-region:rect(128px,32px,144px,16px)}
#hc-maxizmize-button{-moz-image-region:rect(96px,32px,112px,16px)}
window[hc-MaxFull="false"] #hc-maxizmize-button{-moz-image-region:rect(16px,32px,32px,16px)}
#hc-close-button{-moz-image-region:rect(144px,32px,160px,16px)}

#hc-LogoBtn>.toolbarbutton-icon,
#hc-controls>.toolbarbutton-icon,
#window-controls>.toolbarbutton-icon{
	display:inline!important}

toolbar[mode="full"] toolbarbutton[hidelabel="true"]>label,
toolbar>#hc-LogoBtn>.toolbarbutton-text,
#hc-controls>.toolbarbutton-text,
#window-controls>.toolbarbutton-text,
#hc-undo-button>.toolbarbutton-icon,
#hc-undo-button>.toolbarbutton-text,
toolbarbutton[noarrow="true"]>dropmarker,
#bookmarksMenu[hidden="true"],
#main-window[hc-MaxFull="true"] resizer{
	display:none!important}

#main-window[Customize] #hc-titlebox{
	outline:1px inset #808080;
	margin:2px}

#main-window[hidechrome="true"]:not([hc-MaxFull="true"]) #navigator-toolbox,
#main-window[hidechrome="true"]:not([hc-MaxFull="true"]) #browser-bottombox{
	padding-left:2px!important;
	padding-right:2px!important}

.hc-resizer{
	width:2px!important;
	height:2px!important;
	background:transparent none!important}

.hc-top-box .hc-resizer[dir="left"],
.hc-top-box .hc-resizer[dir="topleft"],
.hc-top-box .hc-resizer[dir="bottomleft"],
.hc-bottom-box .hc-resizer[dir="left"],
.hc-bottom-box .hc-resizer[dir="topleft"],
.hc-bottom-box .hc-resizer[dir="bottomleft"]{
	margin-left:-2px;
	margin-right:0;
	border-left:2px solid;
	-moz-border-left-colors:#B26F00 #EED4A2}

.hc-top-box .hc-resizer[dir="right"],
.hc-top-box .hc-resizer[dir="topright"],
.hc-top-box .hc-resizer[dir="bottomright"],
.hc-bottom-box .hc-resizer[dir="right"],
.hc-bottom-box .hc-resizer[dir="topright"],
.hc-bottom-box .hc-resizer[dir="bottomright"]{
	margin-left:0;
	margin-right:-2px;
	border-right:2px solid;
	-moz-border-right-colors:#893B00 #B26F00}

#browser .hc-resizer[dir="left"]{
	border-left:2px solid;
	-moz-border-left-colors:#B26F00 #EED4A2}

#browser .hc-resizer[dir="right"]{
	border-right:2px solid;
	-moz-border-right-colors:#893B00 #B26F00}

.hc-resizer[dir="top"],
.hc-resizer[dir="topleft"],
.hc-resizer[dir="topright"]{
	border-top:2px solid;
	-moz-border-top-colors:#B26F00 #EED4A2}

.hc-resizer[dir="bottom"],
.hc-resizer[dir="bottomleft"],
.hc-resizer[dir="bottomright"]{
	border-bottom:2px solid;
	-moz-border-bottom-colors:#893B00 #B26F00}

#statusbar-display[hc-title]{
	font-weight:bold}
