html,body{height:100%}

body{
	-moz-user-select:none;
	margin:0;
	padding:0;
	display :flex;
	flex-direction:column;
	overflow:hidden;
	font:message-box!important;
	background-image:url(chrome://global/skin/hout.png);
	color:black}

#toolbar{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
	height:20px}

#toolbar .label{
	padding:1px 4px}

#error-message{
	padding-top:4px;
	text-align:center;
	flex:1;
	overflow:auto;
	display:none}

#players{
	flex:1;
	overflow:auto;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

.finished{
	pointer-events:none;
	opacity:.5}

.player-widget{
	padding:2px;
	border:1px solid;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	background-image:url(chrome://global/skin/hout.png)}

.animation-target{
	box-sizing:border-box;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap}

.animation-target .attribute-name{
	-moz-padding-start:4px}

.animation-target>span{vertical-align:middle}
.animation-target>.node-selector{
	display:inline-block;
	cursor:pointer;
	height:16px}
.animation-target>.node-selector::before{
	content:"";
	display:block;
	width:16px;
	height:100%;
	background:-moz-image-rect(url(chrome://inspector/skin/inspector.png),0,16,16,0) no-repeat center}

.animation-title{
	padding:0 2px;
	word-wrap:break-word;
	overflow:auto}

.animation-title .meta-data{float:right}
.animation-title strong{padding:0 3px}

.timeline{
	width:100%;
	display:flex;
	flex-direction:row}

.playback-controls{
	display:flex;
	flex-direction:row}

#element-picker,
#toggle-all,
.playback-controls>button{
	position:relative;
	width:22px;
	margin:0}
.rate{
	padding:0 3px;
	text-align:center;
	margin:0;
	font-family:inherit}
.rate:not(:hover),
#toggle-all:not(:hover),
.playback-controls>button:not(:hover){
	-moz-border-top-colors:transparent;
	-moz-border-left-colors:transparent;
	-moz-border-right-colors:transparent;
	-moz-border-bottom-colors:transparent;
	box-shadow:none;
	background:none}

#element-picker::before,
#toggle-all::before,
.playback-controls>button::before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:100%;
	background:-moz-image-rect(url(chrome://inspector/skin/inspector.png),0,16,16,0) no-repeat center}
#toggle-all::before,
.playback-controls>button::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,32,16,16)}
#toggle-all.paused::before,
.paused .playback-controls>.toggle::before,
.finished .playback-controls>.toggle::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,16,16,0)!important}
.playback-controls>.ff::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),0,80,16,64)!important}
.playback-controls>.rw::before{
	background-image:-moz-image-rect(url(chrome://global/skin/media/video.png),16,80,32,64)!important}

.sliders-container{
	flex-grow:1;
	margin:0 1px;
	border-radius:5px;
	border:1px solid;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	background:url(chrome://global/skin/backarea.png)}
.current-time{
	-moz-appearance:none;
	padding:0;
	margin:0;
	width:100%;
	height:100%}
.current-time::-moz-range-thumb{
	height:100%;
	width:4px;
	border-radius:0;
	border:none;
	background-color:#B26F00}
.current-time::-moz-range-progress,
.current-time::-moz-range-track{
	background-color:transparent}

.time-display{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0 2px;
	min-width:50px}

/* Animation Inspector V3 */
.animation-timeline{
	height:100%;
	overflow:hidden;
	background-image:-moz-element(#time-graduations),url(chrome://global/skin/backarea.png);
	background-repeat:repeat-y,repeat;
	background-position:150px 0,top left;
	display:flex;
	flex-direction:column}

.time-header{
	height:18px;
	min-height:18px;
	overflow:hidden;
	position:relative;
	background:url(chrome://global/skin/hout.png)}

.time-header>.time-tick{
	padding-left:150px;
	position:absolute;
	top:1px}

.animations{
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	margin:0;
	padding:0;
	list-style-type:none;
	border-top:1px solid #B26F00}

.animation{
	padding:2px 0;
	height:20px;
	position:relative}

.target{
	width:150px;
	overflow:hidden;
	height:100%}

.time-block{
	position:absolute;
	top:2px;
	left:150px;
	right:0;
	bottom:2px}

.iterations{
	position:relative;
	height:100%;
	border:1px solid var(--theme-highlight-lightorange);
	box-sizing:border-box;
	background:#B26F00;
	background-image:linear-gradient(to right,var(--theme-highlight-lightorange) 0,var(--theme-highlight-lightorange) 1px,transparent 1px,transparent 2px);
	background-repeat:repeat-x;
	background-position:-1px 0}
.iterations.infinite{
	border-right-width:0}
.iterations.infinite::before,
.iterations.infinite::after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:0;
	height:0;
	border-right:4px solid var(--theme-body-background);
	border-top:4px solid transparent;
	border-bottom:4px solid transparent}
.iterations.infinite::after{
	bottom:0;
	top:unset}

.animation>.animation-title{
	height:1.5em;
	width:100%;
	box-sizing:border-box;
	overflow:hidden}

.iterations>.delay{
	position:absolute;
	top:8px;
	bottom:8px;
	background-color:var(--theme-highlight-lightorange)}
.iterations>.delay::before{
	position:absolute;
	content:"";
	left:0;
	width:2px;
	height:8px;
	top:50%;
	margin-top:-4px;
	background-color:var(--theme-highlight-lightorange)}

.iterations>.name{
	position:absolute;
	z-index:1;
	white-space:nowrap;
	pointer-events:none}

.compositor-icon{
	display:none;
	background:-moz-image-rect(url(debugger.png),16,329,28,320) no-repeat;
	padding-left:12px;
	z-index:1;
	position:relative}