body{
	box-sizing:border-box;
	max-width:400px;
	margin:0 auto;
	padding:0;
	position:relative}
.theme-sidebar{font:message-box!important}

#header{
	display:-moz-box;
	box-sizing:border-box;
	width:100%;
	margin:0!important;
	padding:0 4px!important;
	vertical-align:top}
#header:-moz-dir(rtl){
	-moz-box-direction:reverse}

#header>span{display:-moz-box}
#element-size{-moz-box-flex:1}
#element-size:-moz-dir(rtl){-moz-box-pack:end}

#main{
	position:absolute;
	box-sizing:border-box;
	margin:4px!important;
	width:calc(100% - 2 * 4px)!important;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

.legend{
	position:absolute;
	margin:2px 6px!important;
	z-index:1;
	font-weight:600!important;
	color:black!important}

#margins{
	padding:24px!important;
	box-shadow:2px 2px 4px #B26F00;
	border:1px solid #893B00!important}

#borders{
	padding:24px!important;
	border:1px solid #893B00!important;
	box-shadow:2px 2px 4px 1px #893B00;
	background-image:url(chrome://global/skin/hout-active.png)}

.border,
.legend[data-box="border"]{
	color:white!important}

#padding{
	padding:23px!important;
	border-width:0!important;
	background-image:url(chrome://global/skin/hout.png)}

#content{
	height:23px!important;
	border:1px solid #893B00!important;
	box-shadow:1px 1px 2px #893B00 inset;
	background-image:url(chrome://global/skin/backarea.png)}

#main>p{
	position:absolute;
	pointer-events:none;
	margin:0;
	text-align:center}

#main>p>span{
	vertical-align:middle;
	pointer-events:auto}

.top,
.bottom{
	width:100%;
	text-align:center}

.margin.top{top:3px!important}
.margin.bottom{bottom:3px!important}
.border.top{top:27px!important}
.border.bottom{bottom:27px!important}
.padding.top{top:51px!important}
.padding.bottom{bottom:51px!important}

.margin,
.size{
	color:black!important}

.size,
.margin.left,.margin.right,
.border.left,.border.right,
.padding.left,.padding.right{
	top:75px!important;
	line-height:inherit!important}

.size{width:100%!important}

.margin.right,.margin.left,
.border.left,.border.right,
.padding.right,.padding.left{width:25px!important}
.padding.left{left:52px!important}
.padding.right{right:51px!important}
.border.left{left:26px!important}
.border.right{right:26px!important}
.margin.right{right:0!important}
.margin.left{left:0!important}

.rotate.left:not(.editing){transform:rotate(-90deg)}
.rotate.right:not(.editing){transform:rotate(90deg)}

.editable{
	padding:0 2px;
	-moz-user-select:text}

.editable:hover{
	background-image:url(chrome://global/skin/hout-hover.png);
	box-shadow:0 0 0 1px #893B00}

.styleinspector-propertyeditor{
	border:1px solid #893B00!important;
	box-shadow:1px 1px 2px #893B00;
	padding:0!important}

.size>span{cursor:default}

body.inactive>#header>#element-position,
body.inactive>#header>#element-size,
body.inactive>#main>p{
	 visibility:hidden}
