body{
	margin:0;
 	font:message-box;
	font-family:Menlo,Consolas,Lucida Console,monospace;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

.child{-moz-padding-start:calc(1000em + 16px)}

pre,ul{margin:0;padding:0}

.tagname{color:purple}
.attrname{color:black}
.attrvalue{color:blue}

.newattr{cursor:pointer}
.selected{background-color:rgba(160,160,160,.2)}

span[tabindex]{display:inline-block}

.codebox{padding-left:16px}

.expander{
	position:absolute;
	border:1px solid transparent;
	width:14px;
	height:14px;
	background:-moz-image-rect(url(chrome://global/skin/widgets.png),32,36,40,28) center no-repeat}
.expander[expanded]{
	background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),40,36,48,28)}
.expander:hover{
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	background-color:#B26F00}
.expander:active{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	background-color:#893B00}

.styleinspector-propertyeditor{
	margin:-1px -6px -1px -1px!important;
	outline:none!important;
	border-width:0!important;
	box-shadow:0 0 1px #893B00,1px 1px 3px #B26F00!important;
	background-image:url(chrome://global/skin/backarea.png)!important;
	color:black!important}
	
.more-nodes{padding-left:16px}

.highlighter.flash-out{transition:background 500ms}

.not-displayed .open,
.not-displayed .close{opacity:.7}
