
.theme-light{--rule-highlight-background-color:#ffee99}
.theme-dark {--rule-highlight-background-color:#594724}

#root.devtools-monospace{font:message-box}

#ruleview-add-rule-button::before{background-image:-moz-image-rect(url(chrome://global/skin/widgets.png),32,36,40,28)}
#pseudo-class-panel-toggle::before{background-image:-moz-image-rect(url(debugger.png),0,336,16,320)}

#pseudo-class-panel{top:0}
#pseudo-class-panel>label{flex:1;text-align:center;padding:1px;border:1px solid transparent;border-radius:5px}
#pseudo-class-panel>label:hover{background:url(chrome://global/skin/hout-hover.png);box-shadow:.5px .5px 2.5px -.5px #B26F00;color:black;border-color:#EED4A2 #B26F00 #B26F00 #EED4A2}
#pseudo-class-panel>label:hover:active{background:url(chrome://global/skin/hout-hover.png);color:white;border-color:#B26F00 #EED4A2 #EED4A2 #B26F00}
#pseudo-class-panel>label:checked{background-color:darkred}
#pseudo-class-panel>label>input{position:relative;opacity:1;margin:0}

.ruleview-highlight{background-color:var(--rule-highlight-background-color)}

html,.ruleview{height:100%;min-height:100%}
.ruleview{-moz-box-sizing:border-box}

#ruleview-toolbar>button{margin:1px 2px}

.expandable,
.userStyles,
.userStylesLabel,
.ruleview-property>.property-name,
.rule-matched,
.rule-unmatched{
	cursor:pointer}

.property-view{vertical-align:top}
.property-content>td,
.property-view>td{padding:0}

.unmatchedSelectorTable,
.rulelink{
	-moz-padding-start:18px!important}
.rulelink>table{
	width:100%;
	border-spacing:0}

.rule-link{
	text-align:end;
	-moz-padding-start:10px;
	cursor:pointer}

.rule-text{
	direction:ltr;
	vertical-align:text-bottom}
.rule-link,.rule-text,
.property-header{
	padding:0;
	white-space:nowrap;
	vertical-align:text-top}
.property-name{
	white-space:nowrap;
	width:12em;
	font-weight:bold}
.property-value{
	padding:0;
	vertical-align:text-top;
	width:100%}

.resizerbox{background-color:-moz-dialog}

.userStyles{
	position:relative;
	top:3px}

.ruleview-rule-source{
	float:right;
	-moz-user-select:none}
.ruleview-rule-source:not([unselectable]),
.ruleview-rule-source:not([unselectable])>label{
	cursor:pointer}
.ruleview-rule-source:not([unselectable]):hover{
	background-image:url(chrome://global/skin/hout.png)}

.ruleview-header,
.ruleview-rule-inheritance{
	-moz-user-select:-moz-none;
	font:message-box;
	font-size:90%;
	text-align:center;
	padding:0 1px;
	border:1px solid;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	background-image:url(chrome://global/skin/hout.png);
	color:black}

.ruleview-code,
.ruleview-rule{
	padding:0 1px}
.ruleview-rule+.ruleview-rule{
	border-top:1px dotted #B26F00}

 .ruleview-enableproperty{
	vertical-align:middle;
	display:inline-block;
	margin:0;
	width:16px;
	height:16px;
	background:-moz-image-rect(url(chrome://global/skin/checkbox.png),14,14,28,0) center no-repeat}
 .ruleview-enableproperty[checked]{
	background-image:-moz-image-rect(url(chrome://global/skin/checkbox.png),0,14,14,0)}
.ruleview-property:not(:hover)>.ruleview-enableproperty{
	opacity:0}

.ruleview-propertylist{
	list-style:none;
	padding:0;
	margin:0}

.ruleview-property{border-left:3px solid transparent;opacity:.99999}
.ruleview-property[dirty]{border-left-color:#B26F00}
.ruleview-newproperty{-moz-margin-start:27px}

.ruleview-propertyname,
.ruleview-propertyvalue{
	border:1px solid transparent;
	cursor:text}

.ruleview-propertyname{color:blue} /*purple*/

.ruleview-namecontainer,
.ruleview-propertycontainer,
.ruleview-propertyname,
.ruleview-propertyvalue{
	text-decoration:inherit}

.ruleview-namecontainer:hover>.ruleview-propertyname,
.ruleview-propertyvaluecontainer:hover>.ruleview-propertyvalue,
.ruleview-propertycontainer:hover>.ruleview-propertyvalue{
	border-bottom-style:dashed;
	border-bottom-color:#B26F00}

.ruleview-computedlist{
	list-style:none;
	padding:0}

.ruleview-computed{
	-moz-margin-start:4em}

.styleinspector-propertyeditor{
	padding:0!important;
	margin:0!important;
	border-width:0!important;
	box-shadow:0 0 1px #B26F00,1px 1px 3px #B26F00}

.ruleview-ruleopen,
.ruleview-ruleclose{
	width:-moz-min-content;
	padding-right:20px}
.ruleview-ruleopen:hover,
.ruleview-ruleclose:hover{
	background-color:#B26F00;
	color:black}
.ruleview-ruleopen:hover:active,
.ruleview-ruleclose:hover:active{
	background-color:#B26F00;
	color:black}

.ruleview-warning{
	display:inline-block;
	background:url(chrome://global/skin/icons/warning-16.png);
	-moz-margin-start:5px;
	vertical-align:top;
	width:16px;
	height:16px}

.ruleview-selector-separator,
.ruleview-selector-unmatched{
	color:#B26F00}
