@import url(chrome://global/skin/netError.css);

body{
	max-width:none!important;
	margin:2em 4em!important;
	-moz-padding-start:56px!important;
	background-image:url(chrome://branding/content/icon32.png),url(chrome://global/skin/backarea.png)}
@media(max-width:600px){
body{-moz-padding-start:46px!important}
}

.entries{
	max-height:500px;
	overflow-y:auto}
body.verbose>.entries{
	overflow-x:auto}

#aboutLogoContainer{
	width:300px;
	min-height:230px;
	text-align:center;
	position:absolute;
	left:16px;
	top:16px;
	padding:0!important;
	box-shadow:1px 1px 4px #893B00;
	background-color:white;
	color:black}
#vendorURL{
	display:block;
	position:relative;
	cursor:pointer;
	padding:0!important}
#vendorURL>img{
	display:block}
#vendorURL:hover>#version{
	background-image:url(chrome://global/skin/hout.png);
	color:black}
#vendorURL:hover:active>#version{
	background-image:url(chrome://global/skin/hout-hover.png);
	color:white}

#aboutPageList{
	min-height:250px;
	-moz-margin-start:330px;
	font-size:110%}
h1:first-child{margin-top:4px!important;text-align:start}
ul{list-style:square}
a:link{color:darkblue;padding:0 2px;border-radius:3px}
a:hover{
	background-image:url(chrome://global/skin/hout-hover.png);
	color:black}
a:active{
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}
a:focus{
	box-shadow:0 0 0 1px #893B00}

.columns{-moz-column-width:20em;-moz-column-gap:3em}

h2{font-size:120%;margin-bottom:4px}
h2>a[name]{
	clear:both;
	float:left;
	font-size:170%;
	margin:-7px 4px -7px 0;
	padding:0}
p{margin:4px 0}

.columns{
	-moz-column-width:15em;
	-moz-column-gap:2em}
.columns>li{margin-top:4px}

.sectionHeader{
	padding-left:0!important;
	background-color:transparent!important}

*|*:-moz-any-link:-moz-focusring{
	box-shadow:0 0 0 1px #893B00;
	outline-width:0!important}

#links,
#features{
	position: absolute;
	top:85px;
	left:30vw}
#links{left:55vw}
td{word-break:break-all}