table{
	table-layout:fixed;
	border-spacing:0;
	width:100%}
th{
	width:14em;
	padding:0 1px;
	white-space:nowrap;
	text-align:end}
td{
	font-family:Menlo,Consolas,Lucida Console,monospace;
	padding:0 1px;
	word-wrap:break-word}

#disk,#memory,#offline{
	border-radius:9px;
	border:0!important;
	box-shadow:1px 1px 3px #893B00 inset,1px 1px 1px #EED4A2;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

#entries{
	margin-top:2em;
	border-collapse:collapse;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

#entries>thead>tr>th{
	text-align:center;
	vertical-align:bottom;
	white-space:normal;
	background-image:url(chrome://global/skin/hout.png);
	color:black}
#entries>tbody>tr>td{
	text-align:center;
	vertical-align:top;
	border:1px solid #B26F00}
#entries>tbody>tr>th:first-child,
#entries>tbody>tr>td:first-child{
	text-align:start}

#col-pinned{width:5em}
#col-key{width:100%}
#col-dataSize{width:8em}
#col-fetchCount{width:6em}
#col-lastModified,#col-expires{width:13em}
hr{display:none}