@import url(chrome://global/locale/intl.css);
@import url(chrome://global/skin/cutemenu.css);
@import url(chrome://global/skin/htmlbutton.css);
@import url(chrome://os/skin/global.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root{
	--monospace-font-family:Menlo,Consolas,Lucida Console,monospace;
	--toolbarbutton-vertical-inner-padding:0px;
	--hover-color:black}

/* Bindings must be in global to be applied */
menulist>menupopup{-moz-binding:url(chrome://global/content/bindings/popup.xml#popup-scrollbars)}
menuitem{-moz-binding:url(chrome://global/content/bindings/menu.xml#menuitem-iconic)}
progressmeter[mode="undetermined"]{-moz-binding:url(chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined)}
toolbox[labelalign="bottom"] toolbar[mode="full"] toolbarbutton[type="menu"]:not(#back-button):not(#forward-button){
	-moz-binding:url(chrome://global/content/bindings/toolbarbutton.xml#menu-vertical)}

#webdeveloper-toolbar{overflow:hidden}

window,wizard,page,dialog,prefwindow{
	background:white url(chrome://global/skin/hout.png);
	color:black;
	font:message-box}

#titlebar-min,#minimize-button,#titlebar-max,#titlebar-close,
#minimize-button,#restore-button,#close-button{
	margin:2px 1px;
	padding:0 1px;
	border-radius:5px;
	list-style-image:url(chrome://global/skin/global.png)!important}
#titlebar-min,#minimize-button{-moz-image-region:rect(128px,32px,144px,16px)!important}
#titlebar-max{-moz-image-region:rect(16px,32px,32px,16px)!important}
#restore-button{-moz-image-region:rect(16px,32px,32px,16px)}
window[sizemode="maximized"] #titlebar-max,
window[sizemode="maximized"] #restore-button{-moz-image-region:rect(96px,32px,112px,16px)!important}
#titlebar-close,#close-button{-moz-image-region:rect(144px,32px,160px,16px)!important}
#titlebar-close:-moz-locale-dir(rtl)>.toolbarbutton-icon{-moz-transform:scaleX(-1)}

.message-icon,.alert-icon,.error-icon,.question-icon,.security-icon{width:48px;height:48px}
.error-icon{list-style-image:url(chrome://global/skin/icons/error-large.png)}
.alert-dialog #info\.icon,
.alert-icon{list-style-image:url(chrome://global/skin/icons/warning-large.png)}
.question-icon{list-style-image:url(chrome://global/skin/icons/question-large.png)}
.message-icon{list-style-image:url(chrome://global/skin/icons/notification-large.png)}
.security-icon{list-style-image:url(chrome://global/skin/icons/sslWarning.png)}

.warning{margin-top:2px;margin-bottom:2px}

statusbar{
	min-width:1px;
	min-height:10px;
	font:status-bar}

statusbarpanel{
	-moz-box-pack:center;
	-moz-box-align:center;
	background-color:transparent;
	margin:0 1px;
	padding:0 1px;
	font:status-bar;
	text-shadow:0 1px rgba(255,255,255,.4)}
#pdfdownload-statusbarpanel{-moz-box-align:stretch}
.statusbar-resizerpanel{
	background-color:transparent;
	-moz-box-align:end;
	-moz-box-pack:end;
	margin:0!important;
	padding:0!important}
#quotaPanel,
statusbarpanel[onclick],
statusbarpanel[onmouseup],
statusbarpanel[oncommand],
#pdfdownload-statusbarButton,
#gm-notifier-statusbar,
.statusbarpanel-iconic,
.statusbarpanel-iconic-text,
.statusbarpanel-menu-iconic{
	min-width:20px;
	-moz-box-pack:center;
	-moz-box-align:center;
	border-radius:5px;
	border:1px solid transparent}
#quotaPanel:hover,
statusbarpanel[onclick]:hover,
statusbarpanel[onmouseup]:hover,
statusbarpanel[oncommand]:hover,
#pdfdownload-statusbarButton:hover,
#gm-notifier-statusbar:hover,
.statusbarpanel-iconic:hover,
.statusbarpanel-iconic-text:hover,
.statusbarpanel-menu-iconic:hover{
	border:1px solid !important; 
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2!important;
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:var(--hover-color)!important}
#quotaPanel:hover:active,
statusbarpanel[onclick]:hover:active,
statusbarpanel[onmouseup]:hover:active,
statusbarpanel[oncommand]:hover:active,
#pdfdownload-statusbarButton:hover:active,
#gm-notifier-statusbar:hover:active,
.statusbarpanel-iconic:hover:active,
.statusbarpanel-iconic-text:hover:active,
.statusbarpanel-menu-iconic[open="true"],
.statusbarpanel-menu-iconic[_moz-menuactive="true"]{
	border:1px solid !important; 
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00!important;
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}
.statusbarpanel-progress{-moz-box-align:center}
.progressmeter-statusbar{height:16px}

#sidebar-search-container{
	-moz-padding-start:2px;
	min-height:24px}

#interiorTitleBox{
	padding:2px!important;
	border-bottom:2px solid;
	-moz-border-bottom-colors:#B26F00 #EED4A2}

#newfolder,#newseparator,#fileBookmark,#moveBookmark,#newbookmark{
	list-style-image:url(chrome://global/skin/small.png)}
#newseparator{-moz-image-region:rect(264px,48px,288px,24px)}
#fileBookmark,#moveBookmark{-moz-image-region:rect(288px,48px,312px,24px)}
#newfolder{-moz-image-region:rect(312px,48px,336px,24px)}
#newbookmark{-moz-image-region:rect(408px,48px,432px,24px)}

#rename[command="cmd_bm_rename"],
#rename[command="placesCmd_rename"]{display:none}

#properties{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(0px 24px 24px 0)}
#delete,#clearDownloadsButton{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(312px 24px 336px 0)}

#remove{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px 31px 191px 17px)!important}
#remove:hover{
	-moz-image-region:rect(225px 31px 239px 17px)!important}
#remove:hover:active{
	-moz-image-region:rect(113px 31px 127px 17px)!important}
	
#placesContext_open{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(144px 16px 160px 0)}

#placesContext_new\:folder{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(416px 32px 432px 16px)}

#placesContext_new\:bookmark{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(240px 32px 256px 16px)}

.toolbar-focustarget{-moz-user-focus:ignore!important}
.monospace{font-family:Menlo,Consolas,Lucida Console,monospace}
separator{height:0}
separator[orient="vertical"]{width:0}
.tooltip-label{margin:0!important}
label{padding:0 1px}
description{padding:0 2px}
label[disabled="true"],
text[disabled="true"]{
	color:#893B00;
	text-shadow:1px 1px 0 #EED4A2}
label[value=""],
description[value=""]{
	padding:0!important}
.header{font-weight:bold}
.indent{-moz-margin-start:20px}

.text-link,
.inline-link{
	cursor:pointer;
	text-decoration:underline;
	outline-width:0;
	margin:0 2px!important;
	padding:0 2px!important;
	border-radius:3px;
	color:darkblue}
.text-link:hover:not([disabled="true"]),
.inline-link:hover:not([disabled="true"]){
	box-shadow:1px 1px 2.5px -.5px #893B00;
	background-image:url(chrome://global/skin/hout-hover.png);
	color:var(--hover-color)}
.text-link:active:not([disabled="true"]),
.inline-link:active:not([disabled="true"]){
	box-shadow:inset 1px 1px 1px #893B00; 
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}
.text-link:focus,
.inline-link:focus{
	box-shadow:0 0 1px 1px #B26F00}

.spaced{margin:2px}
#commonDialog{padding:2px;min-height:4em!important}
.icon-dropmarker{
	list-style-image:url(chrome://global/skin/widgets.png);
	-moz-image-region:rect(10px 60px 20px 50px)}

#navigator-throbber{
	-moz-user-focus:ignore!important;
	border:1px solid transparent;
	list-style-image:url(chrome://global/skin/brand/throbber-single.png)}
#navigator-throbber[busy="true"]{
	list-style-image:url(chrome://global/skin/brand/throbber-anim.gif)}

.update-throbber,
#loader-throbber,
#checkForUpdates[loading="true"]{
	list-style-image:url(chrome://global/skin/loading.gif)!important}

#navigator-throbber[mousethrough="always"],
#navigator-throbber[disabled="true"],
#navigator-throbber>.button-box{border:0!important}
#navigator-throbber>.button-box>.button-text{display:none}

.statusbarpanel-iconic:hover,
#navigator-throbber:hover{
	border:1px solid;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2;
	background-image:url(chrome://global/skin/hout-hover.png);
	color:var(--hover-color)}
.statusbarpanel-iconic:hover:active,
#navigator-throbber:hover:active{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	background-image:url(chrome://global/skin/hout-active.png);
	color:white}

#clientBox{
	margin:0;
	border-bottom:1px solid #EED4A2;
	box-shadow:inset 1px 1px 2px #B26F00;
	background:url(chrome://global/skin/backarea.png) repeat!important;
	color:black!important}

#aboutDialog:-moz-any([title*="Beta"],[title*="Aurora"],[title*="Developer Edition"],[title*="Nightly"])>#aboutDialogContainer{
	background:none!important}
#aboutDialog:-moz-any([title*="Beta"],[title*="Aurora"],[title*="Developer Edition"],[title*="Nightly"])>#aboutDialogContainer>#clientBox{
	box-shadow:none;
	background:rgb(10,17,37) url(chrome://branding/content/about-background.png) no-repeat!important;
	color:white!important}
#bottomBox{
	padding:8px 10px 0!important;
	background:url(chrome://global/skin/hout.png)!important;
	color:black!important}
	
#aboutDialog[title*="Waterfox"]>#aboutDialogContainer>#clientBox,
#aboutDialog[title*="Waterfox"]>#aboutDialogContainer>#bottomBox{
	background:none!important;
	border:0!important;
	box-shadow:none!important}

#updateDeck>hbox>label:not([class="text-link"]){
	color:inherit!important;
	font-weight:600}

.bottom-link[href],
.bottom-link[href]:focus,
.bottom-link[onclick],
.bottom-link[onclick]:focus{
	padding:0 4px;
	border-radius:7px;
	-moz-outline-radius:7px;
	color:#893B00!important}
.bottom-link:hover{
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:var(--hover-color)!important}
.bottom-link:hover:active{
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}
#trademark{
	margin-top:8px;
	margin-bottom:0!important;
	color:inherit!important;
	font-size:x-small}

#stumble{height:auto!important}

.su-referral-menuitem,
.su-referral-popup-topdeck{
	margin:0!important}
.su-referral-menuitem label{
	font:inherit!important}
vbox[anonid="imagebox"]{
	width:auto!important}
.su-iconic-referral>.menu-iconic-left,
.su-iconic-favicon .checkbox-icon,
.su-iconic-favicon-alt .checkbox-icon{
	margin:0!important;
	width:auto!important;
	height:auto!important}
#stumbleglobals_referral_send_button:not(:active){
	-moz-border-top-colors:#B26F00 #EED4A2;
	-moz-border-left-colors:#B26F00 #EED4A2;
	-moz-border-right-colors:#893B00 #B26F00;
	-moz-border-bottom-colors:#893B00 #B26F00}

#su_splitter_first,
#su_splitter_first_flexbox{display:none}
#stumbleglobals_searchbox{margin:0 3px!important}

#googlepreview-status{-moz-image-region:rect(2px 15px 17px 0)!important}

/* Fixes for Forecastfox */
.ff-spacer{border-width:0!important}
.ff-progress{margin:2px 0!important}
.ff-panel,ffpanel{
	-moz-appearance:none!important;
	min-width:20px;
	margin:0!important;
	padding:0!important;
	border-radius:5px;
	border:1px solid transparent!important}
.ff-panel:hover,ffpanel:hover{
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2!important;
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:var(--hover-color)!important}
.ff-panel:hover:active,ffpanel:hover:active{
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00!important;
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}

.dialog-button-box{margin:2px}

#aboutDialog[windowtype="Shell:SetDesktopBackground"]>.dialog-content-box{border:0!important}
#aboutDialog>.dialog-content-box stack{
	width:186px;
	height:170px;
	background-image:url(chrome://browser/skin/monitor.png)!important}
#aboutDialog>.dialog-content-box stack>image{display:none}

#autoscroller,.autoscroller{
	height:28px;
	width:28px;
	margin:-14px;
	border-width:0;
	padding:0;
	background:url(chrome://global/skin/icons/autoscroll.png) left top;
	-moz-appearance:none}
#autoscroller[scrolldir="NS"],.autoscroller[scrolldir="NS"]{background-position:left center}
#autoscroller[scrolldir="EW"],.autoscroller[scrolldir="EW"]{background-position:left bottom}

#commonDialog{line-height:13px}
#commonDialog #infoContainer{max-width:33em!important}
#commonDialog #info\.title,
#commonDialog #info\.header,
#commonDialog #info\.body{
	font:menu;
	line-height:16px;
	margin-bottom:6px}

#certmanagertabs{margin:0!important}

#rssStatusImage{width:auto;height:auto}
#sage-splitter{
	margin-top:2px;
	border-radius:2px;
	border-top:1px solid #B26F00;
	border-left:1px solid #B26F00;
	border-right:1px solid #EED4A2;
	border-bottom:1px solid #EED4A2}

#toolbar_cleanup{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(272px 16px 288px 0)}

/*Fix the sloppy coding of Weatherbug*/
.wxBugTooltip{background-color:#ffcc33!important;color:black!important;padding:0!important}
.wxBugForecastDay{padding:2px!important}
.wxBugIconPanel{padding:0!important}

/*AllInOneSidebar*/
#main-window[aiosFxV] #browser{border-top-width:0!important}
#aiostbx-left-toolbox>toolbar,#aiostbx-sidebarright-toolbox>toolbar,#aios-toggle-toolbar,
#bmHi-toolbar,#sidebar{border-width:0!important}

:root[aios-appVendor] #ToolbarMode{padding:0!important}
:root[aios-appVendor] #ToolbarMode toolbarbutton[id]{padding:0!important}
:root[aios-appVendor] .console-row[type]{padding:0!important}
:root[aios-appVendor] .console-row-content>*{margin-bottom:0!important}
:root[aios-appVendor] .console-row-icon>image{-moz-margin-end:0!important}
#generalPanel #titletext{padding:0!important}
#permPanel #permList>vbox hbox{-moz-box-orient:horizontal!important}

#aios-toggle-toolbar{-moz-box-align:stretch;background-image:none}
#paneltab-button[label],#sidebar-close-button[label]{padding:1px!important}
window#config,#commandBar{border-width:0!important}

#console-button{list-style-image:url(chrome://global/skin/icons/question-24.png)}
#addons-button{
	list-style-image:url(chrome://mozapps/skin/extensions/addons.png)!important;
	-moz-image-region:rect(0 32px 32px 0)!important}
#aios-toolbar[iconsize="small"]:not(#nav-bar)>#addons-button{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(400px,32px,416px,16px)!important}
#pageinfo-button{
	list-style-image:url(chrome://browser/skin/page-info.png)!important;
	-moz-image-region:rect(0 24px 24px 0)!important}
#aios-toolbar[iconsize="small"]:not(#nav-bar)>#pageinfo-button{
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(432px,32px,448px,16px)!important}
#aios-toolbar[iconsize="small"]:not(#nav-bar)>.toolbarbutton-1>.toolbarbutton-icon{
	width:16px!important;
	height:16px!important}

#sbh-paneltab-button,
#aios-toolbar[iconsize="small"]:not(#nav-bar) #sbh-autohide-button{padding:0!important}
sidebarheader #aios-sbhtoolbar[mode="icons"] .tabs-closebutton{padding:2px!important}
sidebarheader[mode="icons"] #sidebars-titlebutton{padding:1px!important}

toolbox[vertical=true]>toolbar toolbarseparator,
toolbox[vertical=true]>toolbar>toolbarpaletteitem[place=toolbar] toolbarseparator{border:0!important}
#loader-throbber{list-style-image:url(chrome://global/skin/loading.gif)}

#aios-toggle-button[onclick]:hover,
#aios-sidebarGrippy[onclick]:hover{
	background-color:#B26F00!important}
#aios-toggle-button[onclick]:hover:active,
#aios-sidebarGrippy[onclick]:hover:active{
	background-color:#893B00!important}

#aios-toggle-toolbar:hover,
#sidebar-splitter:hover,
#extensionsView[staticHint]>richlistitem[selected="true"][name]{
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:black!important}
#aios-toggle-button[onclick]:hover:active,
#aios-sidebarGrippy[onclick]:hover:active,
#sidebars-titlebutton>menupopup>menuitem:hover:active,
#sidebars-titlebutton menuitem:hover:active,
#extensionsView[staticHint]:focus>richlistitem[current="true"][name]{
	background-image:url(chrome://global/skin/hout-active.png)!important;
	color:white!important}

.cookie-status-tooltip{opacity:1!important}

#TM_ButtonBox,
#tabMixTabBox{
	border-width:0!important;
	margin:0!important;
	background:transparent none!important}
.tabs-hidden{display:none}
.tabs-hidden+tabpanels{
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-top: 1px solid #EED4A2}
tabpanels#tabpanId[flex]{
	margin:0!important;
	padding:0!important;
	border-width:0!important}
tabpanels#tabpanId tabbox[flex]{padding:0!important}
#pref-tabmix #TMBox #TM_ButtonBox button[type="radio"]{
	color:black!important}
#pref-tabmix #TMBox #TM_ButtonBox button:hover{
	background-image:url(chrome://global/skin/hout-hover.png)!important;
	color:var(--hover-color)!important;
	box-shadow:-1px -1px #893B00 inset,1px 1px #EED4A2 inset}
#pref-tabmix #TMBox #TM_ButtonBox button[checked="true"]{
	background-image:url(chrome://global/skin/backarea.png)!important;
	color:black!important;
	box-shadow:1px 1px 2px #B26F00 inset, 1px 1px #893B00 inset, -1px -1px #EED4A2 inset}

/*Scrapbook+*/
#sbTrabeLog{
	background:white url(chrome://global/skin/backarea.png);
	color:black}

page[aios-inSidebar] :-moz-any(#extensionsView[flex],#bookmarks-view[flex],#historyTree[flex]),
#sbTrabeLog,
#webpanels-window:not([chromehidden])>browser,
#viewSource:not([chromehidden])>vbox>browser{
	border:2px solid!important;
	-moz-border-top-colors:#B26F00 #893B00!important;
	-moz-border-left-colors:#B26F00 #893B00!important;
	-moz-border-right-colors:#EED4A2 #B26F00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important}

#dwhelper-statusbar-button{
	-moz-box-align:stretch!important;
	-moz-box-pack:start!important}

#gtbOptionsAutoFillTabbox,
.gtbTabPanels{border-width:0!important}

#fbTB-Toolbar{
	border:0!important;
	background:none!important;
	color:black!important}
#fbTB-StatusScroll,
#fbTB-ImageScroll{min-height:33px!important}
#fbTB-StatusScroll>hbox,
#fbTB-ImageScroll>hbox{margin:0!important}

/*DownThemAll!*/
#useTemp+hbox{-moz-box-align:center}
textbox#temp{padding:0!important}

/*Yoono*/
#yoono-spliiter,
#yoono-sidebar{
	background-image:url(chrome://global/skin/hout.png)!important}

#asktb-searchbox-border-container{
	border:0!important}
#asktb-searchbox{
	padding:0!important;
	height:auto!important}
#asktb-btn-service-provider>.toolbarbutton-icon{
	margin:2px 3px 2px 0!important}
#asktb-searchbtn>.toolbarbutton-icon{
	margin:0!important}

prefpane>tabbox{border-width:0}
#filterTable{border-width:0 0 2px 0}

#locationbar2{padding:4px}
#locationbar2>checkbox,
#locationbar2>groupbox{margin:0}
#locationbar2>groupbox+separator{margin-top:40px}

#DownThemAll radio[pane="paneMain"]{
	list-style-image:url(chrome://browser/skin/preferences/preferences.png)!important;
	-moz-image-region:rect(0 24px 24px 0)!important}

#DownThemAll radio[pane="paneAdvanced"]{
	list-style-image:url(chrome://browser/skin/preferences/preferences.png)!important;
	-moz-image-region:rect(96px 24px 120px 0)!important}

#DownThemAll radio[pane="panePrivacy"]{
	list-style-image:url(chrome://browser/skin/preferences/preferences.png)!important;
	-moz-image-region:rect(144px 24px 168px 0)!important}

#DownThemAll radio[pane="paneInterface"]{
	list-style-image:url(chrome://browser/skin/preferences/preferences.png)!important;
	-moz-image-region:rect(192px 24px 216px 0)!important}
#DownThemAll textbox{padding:0!important}
#browsedir, maskbutton toolbarbutton {
	min-height:1px!important;
	min-width:1px!important}
maskbutton>toolbarbutton>.toolbarbutton-icon,
#browsedir>.toolbarbutton-icon{
	-moz-margin-end:1px!important}
maskbutton toolbarbutton:hover>toolbarbutton>.toolbarbutton-icon,
#browsedir:hover>.toolbarbutton-icon{
	opacity:1!important}

#dataSources{-moz-appearance:none!important}

/*BRIEF*/
#places-tree,
#feeds-pane>.content-box,
#shortcuts-pane>.content-box{
	-moz-box-flex:1!important;
	height:auto!important}
browser#shortcuts-browser{
	height:auto!important;
	width:auto!important}

/*Facebook*/
#facebook-toolbar>toolbaritem{-moz-box-align:center}
#facebook-home,#facebook-photoupload{
	border:1px solid transparent!important}
#facebook-home:hover,#facebook-photoupload:hover{
	box-shadow:0 0 1px #893B00;
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2!important}
#facebook-home:hover:active,#facebook-photoupload:hover:active{
	box-shadow:none;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00!important}
#facebook-toolbar-status{
	margin:1px!important;
	border-width:2px!important;
	border-style:solid!important;
	border-radius:7px;
	-moz-border-top-colors:#B26F00 #893B00!important;
	-moz-border-left-colors:#B26F00 #893B00!important;
	-moz-border-right-colors:#EED4A2 #B26F00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important}
#facebook-toolbar-status>.textbox-input[type]{margin:0!important}
#facebook-search{border-radius:7px;-moz-padding-start:2px;margin:1px!important}
#facebook-search .textbox-input-box{-moz-box-align:center!important}

#facebook-link-menu,
#facebook-home,
.facebook-icon-photoupload,
.facebook-notification{padding:1px!important}
.facebook-notification>.toolbarbutton-icon{padding:0!important;margin:1px!important}

#facebook-photoupload,
#editPanel,
#editImageContainer{
	padding:0!important}
	
#picBox{
	margin:0!important; 
	border:2px solid!important;
	-moz-border-top-colors:#B26F00 #893B00!important;
	-moz-border-left-colors:#B26F00 #893B00!important;
	-moz-border-right-colors:#EED4A2 #B26F00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important}

#facebook-toolbar-status+toolbarseparator,
#editPanel>spacer{display:none}

.friendBox{
	background-image:url(chrome://global/skin/backarea.png);
	color:black}

#Console\:clear,
#ToolbarMode>#viewGroup{margin:2px}

#palette-box{margin:0}

#leftBox{-moz-margin-start:10px!important}
#rightBox{-moz-margin-end:10px!important}

#shortcutGrid{
	padding:4px!important;
	border:2px solid!important;
	-moz-border-top-colors:#B26F00 #893B00!important;
	-moz-border-left-colors:#B26F00 #893B00!important;
	-moz-border-right-colors:#EED4A2 #B26F00!important;
	-moz-border-bottom-colors:#EED4A2 #B26F00!important;
	box-shadow:inset 1px 1px 2px #B26F00;
	background-image:url(chrome://global/skin/backarea.png)!important;
	color:black!important}

#scratchpad-textbox{
	margin:0;
	border-width:2px 0}

#palette-box .searchbar-textbox{width:auto!important;min-width:1em!important}

#grabanddrag-button{
	-moz-image-region:rect(24px,24px,48px,0);
	list-style-image:url(chrome://grabanddrag/skin/grabanddragtb.png)}
#grabanddrag-button[gadOn="false"]{-moz-image-region:rect(0,48px,24px,24px)}
#grabanddrag-button[gadOn="true"]{-moz-image-region:rect(0,72px,24px,48px)}
#grabanddrag-button[gadOn="QT"]{-moz-image-region:rect(0,96px,24px,72px)}
#grabanddrag-button[gadOn="BL"]{-moz-image-region:rect(0,24px,24px,0)}

toolbar[iconsize="small"]:not(#nav-bar)>#grabanddrag-button{
	-moz-image-region:rect(1px,17px,17px,1px)!important;
	list-style-image:url(chrome://grabanddrag/skin/grabanddragtbsmall18.png)!important}
toolbar[iconsize="small"]:not(#nav-bar)>#grabanddrag-button[gadOn="false"]{-moz-image-region:rect(1px,35px,17px,19px)!important}
toolbar[iconsize="small"]:not(#nav-bar)>#grabanddrag-button[gadOn="true"]{-moz-image-region:rect(1px,53px,17px,37px)!important}
toolbar[iconsize="small"]:not(#nav-bar)>#grabanddrag-button[gadOn="QT"]{-moz-image-region:rect(1px,71px,17px,55px)!important}
toolbar[iconsize="small"]:not(#nav-bar)>#grabanddrag-button[gadOn="BL"]{-moz-image-region:rect(1px,17px,17px,1px)!important}

#pilot-notification-popup{background-image:none}

#viewSource-toolbox{
	border-bottom:2px solid;
	-moz-border-bottom-colors:#893B00 #B26F00}

.roboformlite-notification-bar{
	background-color:transparent!important}
.roboformlite-notification-bar>iframe{
	height:28px}
#roboformlite_autosaveDlg>toolbar{
	color:black!important;
	padding:0 2px!important;
	border-width:0!important;
	font:message-box!important}
#roboformlite_autosave_objectname{
	margin:1px!important;
	-moz-appearance:none!important;
	border:1px solid!important;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00;
	font:message-box!important}
#roboformlite_autosave_folder{
	padding:1px!important;
	margin:0!important}
#roboformlite_autosave_close[command]{
	padding:1px!important;
	border:2px solid transparent!important;
	list-style-image:url(chrome://global/skin/global.png)!important;
	-moz-image-region:rect(177px,31px,191px,17px)!important}
#roboformlite_autosave_close[command]:hover{
	-moz-image-region:rect(225px,31px,239px,17px)!important;
	-moz-border-top-colors:#B26F00 #EED4A2!important;
	-moz-border-left-colors:#B26F00 #EED4A2!important;
	-moz-border-right-colors:#893B00 #B26F00!important;
	-moz-border-bottom-colors:#893B00 #B26F00!important;
	background-image:url(chrome://global/skin/hout-hover.png)}
#roboformlite_autosave_close[command]:hover:active{
	-moz-border-top-colors:#B26F00 #B26F00!important;
	-moz-border-left-colors:#B26F00 #B26F00!important;
	-moz-border-right-colors:#893B00 #EED4A2!important;
	-moz-border-bottom-colors:#893B00 #EED4A2!important;
	background-image:url(chrome://global/skin/hout-active.png)}
#roboformlite_autosave_close>.toolbarbutton-icon{
	-moz-margin-end:1px!important}
#roboformlite_autosave_savebutton{
	padding:1px!important;
	font:message-box!important}
#roboformlite_autosave_protected{
	margin:0 2px!important}

panel[titlebar]>iframe[type="content"]{
	border-bottom:1px solid #B26F00}

#downloadbar-options>vbox{padding:0!important}
#downloadbar-options>vbox>tabbox{border-width:0!important}
#downloadbar-options>vbox>tabbox>tabs{border-radius:0}

.options-vertical-pane{
	min-width:280px!important;
	padding:4px;
	border-radius:9px;
	box-shadow:1px 1px #EED4A2,.5px .5px 2px 1px #B26F00 inset,1px 1px 1px #B26F00 inset;
	background-image:url(chrome://global/skin/backarea.png)}
.options-vertical-pane>label:not(.options-citation-label){
	padding:2px 5px!important;
	font-size:inherit!important;
	font-weight:bold}

.options-citation-label{font-style:italic;color:#893B00;font-size:inherit!important;padding:0!important}
.options-groupbox{padding:0!important}
.options-groupbox>.hidden-labels-box>checkbox,
.options-groupbox>*{padding:0!important;margin:0!important}
.options-vertical-pane:not([id])>label:first-child,#theme-options,#devtools-theme-box{display:none}
