html{
	font:message-box;
	background-image:url(chrome://global/skin/gecko.png),url(chrome://global/skin/hout.png);
	background-repeat:no-repeat,repeat;
	background-position:right 90%,left top;
	background-attachment:fixed,fixed;
	color:-moz-DialogText}
body{
	height:calc(100vh - 7em);
	position:relative;
	flex:1;
	display:flex!important;
	flex-direction:column;
	margin:2em 4em;
	padding:16px;
	-moz-padding-start:56px!important;
	border-radius:18px;
	box-shadow:2px 2px 7px #893B00;
	border:2px solid;
	-moz-border-top-colors:#B26F00 #EED4A2;
	-moz-border-left-colors:#B26F00 #EED4A2;
	-moz-border-right-colors:#893B00 #B26F00;
	-moz-border-bottom-colors:#893B00 #B26F00;
	background-image:url(chrome://global/skin/icons/notification-large.png),url(chrome://global/skin/backarea.png);
	background-repeat:no-repeat,repeat;
	background-position:16px 16px,top left;
	background-size:32px,auto}

h1#plugs{
	position:absolute;
	top:16px;
	margin:0!important}

div#outside{
	flex:1;
	margin:3em 0 0 0;
	overflow:auto;
	width:auto;
	border:2px solid;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00;
	background:white url(chrome://global/skin/backarea.png);
	color:black}

#findpluginupdates{
	position:absolute;
	top:16px;
	right:16px;
	margin:0!important;
	width:40%;
	text-align:end}

div#plugs,div#noplugs,h1#plugs{
	margin:4px 0;
	font-size:150%;
	font-weight:bold;
	text-align:start}

hr{display:none}

.plugname{
	margin:0;
	padding:4px;
	font-size:130%;
	font-weight:bold;
	border-top:2px solid;
	-moz-border-top-colors:#B26F00 #EED4A2}
hr+.plugname{
	border-top:1px solid #EED4A2}
dl{padding:0 8px}
dd{-moz-margin-start:7em;text-align:start;word-wrap:break-word}
dd:last-child{-moz-margin-start:0}
dd>span{-moz-margin-start:-7em;display:block;float:left;font-weight:600}

table{
	font:message-box;
	text-align:start;
	width:calc(100% - 16px);
	margin:4px 8px;
	border:1px solid #B26F00;
	border-spacing:0;
	border-collapse:collapse;
	box-shadow:1px 1px 3px #B26F00;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
td,th{
	padding:0 2px;
	border-left:1px solid #B26F00!important}
th{
	background-image:url(chrome://global/skin/hout-active.png);
	color:white}
tr{
	border-bottom:1px solid #B26F00;
	border-left:1px solid #B26F00;
	text-align:start}
th.enabled,
td:nth-child(4){display:none}

a:link,a:hover{color:darkblue}