@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.scale-slider{
	-moz-appearance:none!important;
	width:100px;
	margin:1px;
	background-image:linear-gradient(transparent 6px,#893B00 7px,#EED4A2 8px,transparent 9px)}

.scale-slider[orient="vertical"]{
	background-image:linear-gradient(to right,transparent 6px,#893B00 7px,#EED4A2 8px,transparent 9px);
	width:auto;
	height:100px}

.scale-thumb{
	width:15px;
	height:15px;
	outline-width:0;
	border:1px solid #B26F00;
	border-radius:100%;
	box-shadow:-1px -1px #B26F00 inset,1px 1px #EED4A2 inset,1px 1px 2px #B26F00;
	background-image:url(chrome://global/skin/hout.png)}

.scale-thumb:hover{background-image:url(chrome://global/skin/hout-hover.png)}
.scale-thumb:hover:active{background-image:url(chrome://global/skin/hout-active.png)}
scale:focus .scale-thumb,
.scale-thumb:focus{box-shadow:0 0 0 1px #893B00}

.scale-thumb[disabled="true"]{
	pointer-events:none;
	box-shadow:none;
	background-image:url(chrome://global/skin/hout.png)!important;
	color:#893B00!important}

#pageZoomScale>.scale-slider{background:none!important}