@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

textbox{
	border:2px solid;
	border-radius:5px;
	-moz-border-top-colors:#B26F00 #893B00;
	-moz-border-left-colors:#B26F00 #893B00;
	-moz-border-right-colors:#EED4A2 #B26F00;
	-moz-border-bottom-colors:#EED4A2 #B26F00;
	margin:1px 2px;
	padding:0;
	background-image:url(chrome://global/skin/backarea.png);
	color:black}
textbox[disabled="true"]{
	cursor:default;
	background:none!important;
	color:#893B00!important;
	text-shadow:1px 1px 0 #EED4A2}
.textbox-inline-edit{
	border:1px solid #893B00!important;
	margin:0!important}
textbox[readonly="true"]{
	background-image:none;
	color:black}
textbox.plain{
	border-width:0!important}
textbox[empty="true"],
textbox[isempty="true"]{
	color:#893B00!important}

.textbox-input-box{
	margin:0;
	border-radius:inherit}

html|*.textbox-input,
html|*.textbox-textarea{
	-moz-appearance:none;
	cursor:text;
	outline-width:0;
	margin:0;
	padding:1px;
	font:inherit;
	line-height:normal;
	text-shadow:inherit;
	border-radius:3px;
	border-width:0;
	background:none;
	color:inherit}
html|*.textbox-input:focus,
html|*.textbox-textarea:focus{
	box-shadow:inset 0 0 0 1px #B26F00}

.textbox-search-icons{
	cursor:auto;
	padding:0 1px;
	border-radius:0 3px 3px 0;
	border:1px solid transparent;
	-moz-border-start-color:#B26F00;
	background-image:url(chrome://global/skin/hout.png)}
.textbox-search-icons:-moz-locale-dir(rtl){
	border-radius:3px 0 0 3px}
.textbox-search-icons:hover{
	border-color:#EED4A2 #893B00 #893B00 #EED4A2;
	background-image:url(chrome://global/skin/hout-hover.png)}
.textbox-search-icons:hover:active{
	border-color:#893B00 #EED4A2 #EED4A2 #893B00;
	background-image:url(chrome://global/skin/hout-active.png)}
.textbox-search-icon{
	transform:scale(.8);
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(64px 16px 80px 0)}
.textbox-search-icon[disabled="true"]{
	filter:opacity(.7) grayscale(1)}
.textbox-search-clear{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(177px 31px 191px 17px)}
.textbox-search-icons:hover>.textbox-search-clear{
	-moz-image-region:rect(224px 32px 240px 16px)}
.textbox-search-icons:hover:active>.textbox-search-clear{
	-moz-image-region:rect(113px 31px 127px 17px)}

.textbox-search-icon[searchbutton]:not([disabled="true"]){cursor:pointer}
.textbox-search-clear:not([disabled="true"]){cursor:default}

.tree-input,
.tree-input html|*.textbox-input{margin:0!important}

.textbox-contextmenu{cursor:default}

html|*.textbox-input::-moz-placeholder,
html|*.textbox-textarea::-moz-placeholder{
	opacity:1;
	font-style:italic;
	color:#893B00!important}
