@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbar{
	min-width:1px;
	min-height:18px;
	-moz-box-align:center}
menubar,
toolbar[mode="text"]{
	min-width:1px;
	min-height:10px}

toolbarspacer{width:13px}

toolbarseparator{
	width:4px;
	height:12px;
	margin:5px 1px;
	border-radius:8px;
	box-shadow:inset 1px 1px 1px #B26F00;
	border:1px solid;
	border-color:#B26F00 #EED4A2 #EED4A2 #B26F00}
toolbar[orient="vertical"] toolbarseparator{
	width:14px;
	height:4px}

toolbarpaletteitem{cursor:-moz-grab}
toolbarpaletteitem[mousedown]{
	cursor:-moz-grabbing;
	box-shadow:1px 1px 2px #B26F00,2px 2px 4px #B26F00}
toolbarpaletteitem:hover{
	box-shadow:1px 1px 2px #B26F00;
	background-image:url(chrome://global/skin/hout-hover.png)}

toolbarpaletteitem[dragover="left"]{margin-left:-2px;border-left:2px solid #893B00}
toolbarpaletteitem[dragover="right"]{margin-right:-2px;border-right:2px solid #893B00}

.toolbarpaletteitem-box{
	-moz-box-align:center;
	-moz-box-pack:center}
#palette-box>toolbarpaletteitem{
	height:55px!important;
	padding:2px;
	border-radius:5px;
	border:1px solid transparent}
#palette-box>toolbarpaletteitem:hover{
	border-color:#EED4A2 #B26F00 #B26F00 #EED4A2}

toolbarpaletteitem>toolbarspring,
toolbarpaletteitem>toolbarspacer{
	height:18px;
	min-width:13px;
	max-width:13px;
	border:1px dotted #893B00}
toolbarpaletteitem>toolbarspring{
	min-width:32px;
	max-width:none;
	background:url(chrome://global/skin/icons/spring.png) no-repeat center}

/* For SM */
.collapsed-tray-holder{height:8px}
.toolbar-box{-moz-box-align:stretch}
.toolbar-holder{-moz-box-align:center}
toolbargrippy{
	border-radius:5px 5px 0 0;
	background:url(chrome://global/skin/toolbar-grippy.png) top center no-repeat;
	width:12px}
toolbargrippy[tbgrippy-collapsed="true"]{
	border-radius:5px 0 0 5px;
	background:url(chrome://global/skin/toolbar-grippy-collapsed.png) center left no-repeat;
	height:8px;
	width:24px}
toolbargrippy:hover{background-color:#B26F00}
toolbargrippy:hover:active{background-color:#EED4A2}
