
#back-button,#forward-button{list-style-image:url(chrome://global/skin/small.png)}
#forward-button:-moz-locale-dir(rtl),
#back-button{-moz-image-region:rect(48px,24px,72px,0)}
#back-button:-moz-locale-dir(rtl),
#forward-button{-moz-image-region:rect(72px,24px,96px,0)}

:-moz-any(#back-button,#forward-button)[disabled="true"]>.toolbarbutton-icon{
	opacity:.5}

#organizeButton{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(264px,48px,288px,24px)}
#viewMenu{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(0,24px,24px,0)}
#maintenanceButton{
	list-style-image:url(chrome://global/skin/small.png);
	-moz-image-region:rect(288px,48px,312px,24px)}
#saveSearch{
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(368px,16px,384px,0)}

#scopeBarTitle{
	font-weight:bold;
	padding-inline-end:2px;
	border:0!important;
	color:black!important;
	background:none!important}

#placesList{width:16em}
#searchFilter{margin-top:0;margin-bottom:0}
#bookmarkproperties{padding:2px 0 0 0}
#loadInSidebarCheckbox{margin:1px 3px}
