.h-split-box,
.h-split-box-pane{
	overflow:auto;
	margin:0;
	padding:0;
	width:100%;
	height:100%}

.h-split-box{
	display:flex;
	flex-direction:row;
	flex:1}

.h-split-box-splitter{
	border-inline-start:1px solid #EED4A2;
	border-inline-end:1px outset #B26F00;
	cursor:ew-resize;
	width:4px}
